@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    .welcome-text {
        font-size: 2.5rem;
    }
</style>

<div class="text-center">
    <h1 class="display-4 welcome-text">Welcome</h1>
    <h2 class="display-4 welcome-text">IES Group Project</h2>
</div>
